<div *ngIf="zipCodeQuery && range; else loading">
    <div style="width: 40%; margin: 20px auto 50px auto;">
        <div *ngFor="let q of zipCodeQuery">
            <div class="card">
                <div class="card-content">
                    <dl class="row">
                        <dt class="key">
                            <label>Id</label>
                        </dt>
                        <dd class="value">
                            <label>{{q?.id}}</label>
                        </dd>
    
                        <dt class="key">
                            <label>ZIP code</label>
                        </dt>
                        <dd class="value">
                            <label>{{q?.zipCode}}</label>
                        </dd>
    
                        <dt class="key">
                            <label>City</label>
                        </dt>
                        <dd class="value">
                            <label>{{q?.cityName}}</label>
                        </dd>
    
                        <dt class="key">
                            <label>Temperature (C)</label>
                        </dt>
                        <dd class="value">
                            <label>{{q?.temp}}</label>
                        </dd>
                        
                        <dt class="key">
                            <label>Timezone</label>
                        </dt>
                        <dd class="value">
                            <label>{{q?.timeZoneName}}</label>
                        </dd>
                        
                        <dt class="key">
                            <label>Date</label>
                        </dt>
                        <dd class="value">
                            <label>{{q?.requested}}</label>
                        </dd>
                    </dl>
                </div>            
            </div>
        </div>
        <span id="pagination" *ngFor="let n of range">
            <a *ngIf="n == currentPage; else simplePage" role="button" (click)="changePage(n)"><b>{{n}} </b></a>
            <ng-template #simplePage>
                <a role="button" (click)="changePage(n)">{{n}} </a>
            </ng-template>
        </span>
    </div>
</div>
<ng-template #loading>
    <label>loading...</label>
</ng-template>

